body {
  background: url("http://dbarthelemy.parseapp.com/image/background.jpg") no-repeat center fixed;
  background: -webkit-image-set( url(http://dbarthelemy.parseapp.com/image/background.jpg)    1x,
                                 url(http://dbarthelemy.parseapp.com/image/background@2x.jpg) 2x);
  background-size: cover;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */

  font-family: helvetica;
  text-align: center;
  color: white;
}

.logo {
  margin: 64px 0px 32px 0px;
  border: 4px solid white;
  border-radius: 100px;
}

p {
  font-size: 22px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="email"] {
  background: rgba(255, 255, 255, 0.8);
}

input[type="submit"] {
  background: rgba(0, 128, 128, 0.8);
  color: white;
}

footer {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.social {
  border-radius: 32px;
  padding: 8px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 100%;
  }
}
